In [27]:
#Varabels
var = 15
var2 = 20
strvar = "Tom"

sum1 = var + var2

print(sum1)

35

In [28]:
#Lists

listInt = [1,2,3,4,5]
listStr = ["apple", "banana", "cherry"]
listBool = [True, False, False]
listHarmon = ["abc", 34, True, 40, "male"]

print(listInt) #Print the list
print(type(listStr)) #Print the data type of list
print(len(listBool)) #Print the number of items

#listStr.append("orange") #Add item to teh list
#listStr.insert(1, "orange") #Insert item as a second 
#listStr.remove("banana") #Remove banana

[1, 2, 3, 4, 5]
<class 'list'>
3

In [11]:
#If-else

a = 100
b = 200
if b > a: #Compare a and b
  print("b is greater than a")
else:
    print("a is greater than b")

b is greater than a

In [12]:
#While loop

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [13]:
#For loop

for x in listStr:
  print(x)
  if x == "banana":
    break #Leav the loop

apple
banana

In [18]:
#Functions

def yongest_age(child1, child2, child3):
    var = child2
    if child1<child2:
        var = child1
    if child3< var:
        var = child3
    return var

child1 = 15
child2 = 20
child3 = 14
yongest = yongest_age(child1, child2, child3)
print("Yongest child age is:", yongest)

Yongest child age is: 14

In [20]:
#Dates

import datetime

x = datetime.datetime.now()
print(x)

2023-03-02 12:15:39.054034

In [1]:
#Math

var1 = min(5, 10, 25)
var2 = max(5, 10, 25)
var3 = abs(-7.25) #Returns the absolute
var4 = pow(4, 3) #Returns 4 power 3

print("min:", var1)
print("max", var2)
print("Absolute:", var3)
print("Power:", var4)

min: 5
max 25
Absolute: 7.25
Power: 64

In [25]:
#Try-Except

try:
  print(NotDefinedVar)
except:
  print("An exception occurred")

An exception occurred

In [26]:
#User Inputs

username = input("Enter username:")
print("Username is: " + username)

Enter username:Muhannad
Username is: Muhannad